/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.25rem;
    font-family: 'Merriweather', serif;
    line-height: 2rem;
    color: rgba(7, 2, 17, 0.60);
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    padding: 1rem 2rem;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0.5rem;
    background: #F00;
}

.container {
    width: 82%;
    max-width: 82rem;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red-text {
    color: #F00;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
}

.important {
    color: #070211;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
}

.section-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 3rem;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.section-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    /* 160% */
}

/* Header */
#header {
    height: 37.5rem;
}

#header .banner {
    background-image: url('../assets/BannerImage.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-position: center;
    height: 100%;
    margin: 3.3rem auto;
}

#header .banner .banner-content {
    color: #FFF;
    text-align: center;
    line-height: normal;
    text-align: center;
    padding: 11rem 21rem;
}

#header .banner .banner-content h1 {
    font-size: 2rem;
    font-weight: 400;
}

#header .banner .banner-content h2 {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 5.9375rem;
}

/* Offer section */
#offer .offer-container {
    max-width: 31.25rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 7.5rem;
}

#offer .offer-container>* {
    margin-bottom: 3rem;
}

#offer .offer-container .offer-title {
    color: #F00;
    font-size: 5.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: normal;
}

#offer .offer-container .offer-description .red-text {
    margin-bottom: 1rem;
}

/* Welcome to party */
#welcome {
    margin-top: 7.5rem;
}

#welcome .container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../assets/Vectorrr.png');
    height: 37.5rem;
}

#welcome .welcome-content {
    max-width: 43.5rem;
}

#welcome .welcome-content>* {
    margin-bottom: 1.5rem;
}

#welcome .welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 4rem;
    font-weight: 900;
    line-height: 5.5rem;
    letter-spacing: 0.44rem;
}

#welcome .welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    /* 166.667% */
}

#welcome .welcome-image {
    max-width: 19.99rem;
}

#welcome .join-btn {
    background-color: #FA9D01;
}

/* Portfolio */
#portfolio {
    margin-top: 7.5rem;
}

#portfolio .section-title,
.section-description {
    margin-bottom: 1.3rem;
}

#portfolio .portfolio-gallery {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem; */
    width: 100%;
}

#portfolio .portfolio-gallery img {
    max-width: 24.5rem;
    margin: 0.4rem;
}

/* Newsletter */
#newsletter {
    margin-top: 7.5rem;
}

#newsletter .container {
    border-radius: 1rem;
    background-color: rgba(255, 0, 0, 0.05);
    ;
    height: 38.5rem;
    text-align: center;
    padding: 5rem 13.25rem;
}

.newsletter-content {
    max-width: 56rem;
    margin: 0 auto;
}

#newsletter .newsletter-img {
    width: 9.3rem;
    margin-bottom: 2.5rem;
}

#newsletter .section-title {
    margin-bottom: 1.38rem;
}

#newsletter .subscribe-form {
    max-width: 40rem;
    margin: 0 auto;
}

#newsletter .subscribe-form input[type="email"] {
    width: 27rem;
    border-radius: 3.125rem 0 0 3.125rem;
    background: #FFF;
    padding: 1.3rem 1.8rem;
    border: 1px solid transparent;
    height: 4.5rem;
    font-size: 1.25rem;
    text-transform: capitalize;
}

#newsletter .subscribe-form input[type="submit"] {
    border-radius: 0rem 3.125rem 3.125rem 0rem;
    margin-left: -0.3rem;
    height: 4.5rem;
    text-transform: capitalize;
    border: 1px solid transparent;
}

/* Footer */
#footer {
    margin-top: 7.5rem;
    padding: 7.5rem 0;
    background-color: #070211;
    color: #fff;
    height: 38.06rem;
    font-family: Inter;
}

#footer .first-row .address {
    max-width: 23.43rem;
}

#footer .first-row .contact {
    max-width: 15.7rem;
}

#footer .first-row .contact img {
    max-width: 1.5rem;
}

#footer hr {
    margin: 3.12rem 0;
    border: none;
    height: 0.06rem;
    background-color: #333;
    font-weight: 200;
    height: px;
}

#footer .second-row .social-links{
    /* max-width: 20.5rem;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}